.loading-container {
  padding-top: 270px;
  height: 100vh;
  width: 100%%;
  background: #2B313F;
}

.darth-image {
  margin: auto;
  height: 100vh;
  width: 100%;
  background-image: url('https://brightcove04pmdo-a.akamaihd.net/3653334524001/3653334524001_5381043941001_5379748916001-vs.jpg?pubId=3653334524001&videoId=5379748916001');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.loading-container h3 {
  color: #a1a23c;
  font-size: 48px;
  font-weight: bold;
}
