* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Baloo Tammudu', cursive;
  width: 100%;
  background-image: url('http://arunnath.com/i/2017/03/space-stars-wallpapers-desktop-background.jpg');
  background-repeat: repeat;
  background-position: center;
  background-size: cover;
}
